NOTION_TOKEN=
NOTION_VERSION=2025-09-03

MOVIMIENTOS_DATA_SOURCE_ID=
DETALLE_PRODUCTOS_DATA_SOURCE_ID=
DEUDORES_DATA_SOURCE_ID=
CUENTAS_DATA_SOURCE_ID=
NEGOCIOS_DATA_SOURCE_ID=
CATEGORIAS_DATA_SOURCE_ID=
PRODUCTOS_DATA_SOURCE_ID=
VARIANTES_DATA_SOURCE_ID=
PROMOS_DATA_SOURCE_ID=
REGLAS_PROMO_DATA_SOURCE_ID=

DEFAULT_NEGOCIO_PAGE_ID=
DEFAULT_NEGOCIO_NAME=El Tigre Artículos de Limpieza

APP_PIN=
APP_SECRET=
